.user_name {
  text-transform: uppercase;
  font-weight: bold;
}

.italic {
  font-style: italic;
  color: rgb(206, 59, 219);
}

.recent_posts {
  text-decoration: underline;
}

.text-italic,
.category-title {
  font-style: italic;
}
